@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --main-dark: #e2e8f0;
    --main-medium: #f1f5f9;
    --main-light: #f8fafc;
    --accent-dark: #155e75;
    --background-color: #52525b;
    --box-shadow-color: rgba(124, 124, 124, 0.185);

    /* colors for priorities */
    --pHigh: tomato;
    --pMed: plum;
    --pLow: royalblue;

    --topbar-padding: 24px;
    font-family: "Roboto";
}

.p-high {
    background: var(--pHigh);
}

.p-medium {
    background: var(--pMed);
}

.p-low {
    background: var(--pLow);
}

* {
    box-sizing: border-box;
}

img {
    user-select: none;
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    min-width: 1.5em;
    height: 1.5em;
    border: 2px solid gray;
    border-radius: 6px;
}

input[type="checkbox"]:checked {
    background: red;
}

input[type="text"], input[type="date"], select {
    background: var(--main-light);
    padding: 6px;
    font-size: 0.9rem;
    border-radius: 4px;
    border: 1px solid #d1d4d8;
    width: 100%;
}

input[type="text"]:focus, 
input[type="text"]:focus-visible, 
input[type="date"]:focus,
input[type="date"]:focus-visible,
select:focus,
select:focus-visible {
    outline: 1px solid rgb(109, 156, 255);
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.096);
}

input[type="date"] {
    width: 9.5em;
    min-width: 9.5em;
}

input[placeholder="Task Name"] {
    max-width: 12em;
}

select {
    max-width: 15em;
    width: auto;
}

button {
    box-sizing: border-box;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 7px 13px;
    font-weight: 700;
    outline: none;
    border-radius: 500px;
    background: var(--accent-dark);
    border: 3px solid var(--accent-dark);
    color: white;
    white-space: pre;
}

button:hover {
    color: var(--accent-dark);
    background: var(--main-light);
}

body {
    min-height: 100vh;
    background: var(--background-color);
    position: relative;
}

.full-wrapper {
    width: 100%;
    margin: 0px clamp(20px, calc(20px + 20 * calc(1vw - 7px)), 100px);
    margin-top: 20px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px 10px rgba(39, 39, 39, 0.534);
}

.container {
    display: flex;
}

.vertical {
    flex-direction: column;
}

.sidebar.container {
    width: 200px;
    background: var(--main-dark);
    z-index: 2;
    padding: 10px;
}

.sidebar-section-header.container, .sidebar-section-project.container {
    align-items: center;
    font-size: 1.2rem;
}

.sidebar-section-header.container img, .sidebar-section-project.container img {
    width: 1.3em;
    height: 1.3em;
    user-select: none;
}

.sidebar-section-header.container h3, .sidebar-section-project.container h4 {
    margin-left: 0.2em;
    margin-top: 0.12em;
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebar-section-header.container h3 {
    font-weight: bold;
}

.sidebar-section.container {
    flex-direction: column;
    gap: 2px;
    cursor: pointer;
}

.sidebar-section-project.container, .sidebar-section-header.container {
    padding: 3px;
    border-radius: 8px;
}

.sidebar-section-header.container {
    margin-top: 20px;
    margin-bottom: 5px;
    border: 1px solid #4445;
}

.sidebar-section-project.container.selected {
    background: #4445;
}

.sidebar-section-project.container:not(.selected):hover {
    background: #4442;
}

.sidebar-section-project.container:hover {
    filter: brightness(0.2);
}

.main.container {
    flex: 1;
}

.topbar.container {
    height: 100px;
    background: var(--main-light);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 var(--topbar-padding);
    box-shadow: 0 2px 4px 2px var(--box-shadow-color);
    z-index: 1;
}

.topbar-title.container {
    justify-content: center;
    align-items: center;
}

h1.topbar-title {
    font-size: 2.5rem;
    font-weight: 500;
    white-space: nowrap;
}

.topbar-buttons.container {
    gap: 20px;
}

.main-content.container {
    flex: 1;
    background: var(--main-medium);
    padding: 40px;
}

.main-content.title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 500;
}

.main-content.body {
    color: #777;
}

.task-list.container {
    max-width: 450px;
}

.task-header.container {
    align-items: center;
    gap: 0.3em;
}

.task-header.container img {
    width: 1.5rem;
}

.task-header.title {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-priority {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    -webkit-mask: url(../images/filled-circle.svg) 0 0 / 100% 100%;
    mask: url(../images/filled-circle.svg) no-repeat center;
}

.task-priority.hover {
    -webkit-mask: url(../images/delete.svg) 0 0 / 100% 100%;
    mask: url(../images/delete.svg) no-repeat center;
    background: black;
}

.task.container p {
    padding-top: 0.2em;
    padding-left: 1.5rem;
    color: #777;
    width: calc(100%);
}

.task-desc, .task-date {
    font-size: 0.8rem;
}

.task-desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-divider {
    border-style: none;
    border-top: 1px solid #DDDDDD;
    margin: 6px 0;
    width: 100%;
}

.prompt-wrapper {
    z-index: 2;
}

.prompt-remover {
    position: absolute;
    backdrop-filter: brightness(85%);
    inset: 0;
}

.prompt.container {
    background: var(--main-dark);
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 0 4px 4px var(--box-shadow-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.prompt-form {
    gap: 10px;
}

.prompt-row {
    gap: 10px;
}

.prompt-final-row {
    justify-content: flex-end;
}

select.priority {
    width: 10rem;
}